.tabs_container {
    background-color: var(--primary-clr-4);
    border: 2px solid var(--primary-clr-2);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 20px 0;
    margin: 20px 20px 0 20px;
    padding: 15px;
}

.tabs_container .tabs_sub_container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0 0px 10px 0px;
    width: 25%;
    /* border-top: 3px solid #5288b5b8;*/
}

.tabs_container .tabs_sub_container button {
    background-color: #ffffff;
    border: 0;
    border-radius: 0 0 7px 7px;
    border-top: 3px solid var(--primary-clr-2);
    box-shadow: 0 0 11px #84848452;
    color: var(--primary-clr-1);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    width: 95%;
}

.tabs_container .tabs_sub_container button.selected,
.tabs_container .tabs_sub_container button:hover {
    background-color: var(--primary-clr-2);
    box-shadow: 0 0 6px #0000007d;
    color: #ffffff;
    font-size: 18px;
    /* transform: scale(1.1); */
}

@media (max-width: 768px) {
    .tabs_container .tabs_sub_container button {
        font-size: 10px;
    }

    .tabs_container .tabs_sub_container button.selected,
    .tabs_container .tabs_sub_container button:hover {
        font-size: 10px;
    }
}